@import "tailwindcss";

:root {
  --background: #ba0000;
  --foreground: #e6e6e6;
  --color-accent: #e45684;
  --divbg: #acacac1a;

  --fullpage_bg: #efece6;
  --text-color: #2b1e1a;
  --orange: #c86b45;
  --greenish-grey: #d4ddd8;
  --dirty-white: #f7f5f0;
  --brownish-grey: #bcb5aa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
